<<<<<<< HEAD
$background:#D9D9D9;
$foreground: #FFF;

$primary: #6F6F6F;
$primary-hover: #636363;

$secondary: #000;

$text: #000
=======
$background:#D9D9D9;
$foreground: #FFF;

$primary: #6F6F6F;
$primary-hover: #636363;

$secondary: #000;

$text: #000
>>>>>>> 1927b48235d7816a6865ba5c91acc1711281c8e7
