.comp-estilos{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    z-index: 1;
    background-color: #000;

    .fundo-img{
        display: flex;
        width: 100%;

        .img{
            width: 100%;
            height: 980px;
            margin-top: 0px;
            opacity: 0.7;
            position: absolute;
            z-index: -1;
        }
    }
    
    .estilos-container{
        display: flex;
        flex-direction: column;
        height: 980px;
        margin: 0;

        .borrao{
            
            img{
            position: absolute;
            width: 100%;
            height: 1180px;
            
            margin-top: -150px;
            }
        }

        .borrao2{
            display: flex;
            justify-content: center;
            position: relative;
    
            margin-top: 520px;

            img{
                position: absolute;
                width: 1423px;
                height: 320px;
                margin: -250px;
            }
        }

        .container-h1{
            display: flex;
            justify-content: center;
            text-align: center;

            h1{
                text-align: center;
                margin-top: 135px;
                max-width: 1200px;
                font: 400 65px 'Anton';
                color: #fff;
            }
        }
    }
    
}